@model List<Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-4">Benvenuti a Pizzeria "In Forno"</h1>
    <p class="lead mb-5">Scopri le nostre deliziose pizze artigianali, preparate con ingredienti freschi e di qualità.</p>
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    @if (!string.IsNullOrEmpty(product.PhotoUrl))
                    {
                        <img src="@Url.Content(product.PhotoUrl)" class="card-img-top" alt="@product.Name">
                    }
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">
                            @string.Join(", ", product.ProductIngredients.Select(pi => pi.Ingredient.Name))
                        </p>
                        <p class="card-text">Prezzo: @product.Price.ToString("C")</p>
                        <a asp-controller="Products" asp-action="Index" class="btn btn-primary">Vai al Menu</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>