@model List<Product>

<h2>Prodotti Disponibili</h2>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">
                        @foreach (var ingredient in product.ProductIngredients.Select(pi => pi.Ingredient))
                        {
                            <span>@ingredient.Name</span>

                            <br />
                        }
                    </p>
                    <p class="card-text">Prezzo: @product.Price.ToString("C")</p>
                    <form asp-controller="Cart" asp-action="Add" method="post">
                        <input type="hidden" name="productId" value="@product.Id" />
                        <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
                        <button type="submit" class="btn btn-primary">Aggiungi al Carrello</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>